*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
.header-section{
    background-image: url('https://placehold.co/1950x1100');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-contant h2{
  font-size: 3rem; 
  margin-bottom: 20px;
  color: brown;
  font-family: "Playfair Display", serif;
}
.hero-contant p{
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;

}
.btn-custom{
    background-color: rgb(255, 174, 0);
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s ease;
}
.btn-custom:hover{
    background-color: rgb(240, 255, 26);
    color: blue;
}
/* ==product-description== */
.features-section{
    padding: 60px 0px;
}
.features-section h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}
.hr-custom{
    height: 2px;
    border: none;
    background-color: orange;
}
.feature-card{
    padding: 20px;
    background-color: rgb(222, 219, 216);
    border-radius: 20px;
}