*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
.header-section{
    background-image: url('https://placehold.co/1950x1100');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-contant h2{
  font-size: 3rem; 
  margin-bottom: 20px;
  color: brown;
  font-family: "Playfair Display", serif;
}
.hero-contant p{
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;

}
.btn-custom{
    background-color: rgb(255, 174, 0);
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s ease;
}
.btn-custom:hover{
    background-color: rgb(240, 255, 26);
    color: blue;
}
/* ==product-description== */
.features-section{
    padding: 60px 0px;
}
.features-section h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}
.hr-custom{
    height: 2px;
    border: none;
    background-color: orange;
}
.feature-card{
    padding: 20px;
    background-color: rgb(249, 247, 245);
    border-radius: 20px;
    box-shadow: 13px 9px 8px 5px rgba(0,0,0,0.1);
    margin-bottom: 28px;
    margin-right: 5px;
    transition: transform 0.5s ease;
    
}
.feature-card:hover{
    transform: translate(-10px);
}
.feature-card img{
    width: 190px;
    margin-bottom: 20px;
    height: 160px;
}
.feature-card h5{
    font-size: 1.3rem;
    margin-bottom: 10px;
    
}
.feature-card p{
    font-weight: 600;
    color:#BA002F;
    font-size: 17px;
}
/* ====review-section=== */
.review-section h2{
   text-align: center;
   margin-bottom: 25px;
   font-weight: 600;
}
.review-custom u{
  font-weight: 600;  
}
.review-custom b{
    font-weight: 600;
}
.review-custom{
    background-color: rgb(249, 247, 245);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 13px 9px 8px 5px rgb(169, 178, 186);
    transition: transform 0.5s ease;
}
.review-custom:hover{
    transform: translate(10px);
}
.review-custom img{
    margin-bottom: 20px;
   height: 90px;
   width: 90px;
    border-radius: 60px;
    object-fit: cover;
}
.star{
    display: inline;
    font-weight: 600;
    font-size: 20px;
}